<mat-card>
  <mat-card-header>
    <mat-card-title>{{ tableTitle }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="tableDataSource">

      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let data">{{ data.name }}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let data" class="dashboard-value" [innerHTML]="data.value"></td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <td mat-cell *matCellDef="let data" class="dashboard-unit">{{ data.unit }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
