<app-filter-chip-list></app-filter-chip-list>

<mat-tab-group>
    <mat-tab label="Throughput">
        <ng-template matTabContent>
          <div class="container-fluid">
            <app-map-dashboard
              [graphMetrics]='tpGraphMetrics'
              [mapSettings]='mapSettings.tpMapSettings'
              [metricField]='mapSettings.tpMapField'
              [metricLabel]='"Average monthly vehicles per hour"'
              [changeLabel]='"Changes from prior month"'>
              <ng-template let-filteredData #tpTemplate>
                  <app-bar-line-graph
                      [data]='filteredData'
                      [title]='tpTitle'
                      [line]='tpLine'
                      [bar]='tpBar'>
                  </app-bar-line-graph>
              </ng-template>
            </app-map-dashboard>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Arrivals on Green">
        <ng-template matTabContent>
          <div class="container-fluid">
            <app-map-dashboard
              [graphMetrics]='aogdGraphMetrics'
              [mapSettings]='mapSettings.aogdMapSettings'
              [metricField]='mapSettings.aogdMapField'
              [metricLabel]='"Arrivals on Green"'
              [changeLabel]='"Changes from prior month"'>
              <ng-template let-filteredData #aogTemplate>
                <app-bar-line-graph
                  [data]='filteredData'
                  [title]='aogTitle'
                  [line]='aogdLine'
                  [bar]='aogBar'>
                </app-bar-line-graph>
                <!-- <app-bar-line-line-graph
                    [data1]='filteredData'
                    [additionalMetrics]='aoghGraphMetrics'
                    [title]='aogTitle'
                    [line1]='aogdLine'
                    [line2]='aoghLine'
                    [bar]='aogBar'>
                </app-bar-line-line-graph> -->
              </ng-template>
            </app-map-dashboard>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Progression Ratio">
      <ng-template matTabContent>
        <div class="container-fluid">
          <app-map-dashboard
            [graphMetrics]='prdGraphMetrics'
            [mapSettings]='mapSettings.prdMapSettings'
            [metricField]='mapSettings.prdMapField'
            [metricDecimals]='2'
            [metricLabel]='"Progression Ratio"'
            [changeLabel]='"Changes from prior month"'>
            <ng-template let-filteredData #prTemplate>
              <app-bar-line-graph
                  [data]='filteredData'
                  [title]='prdTitle'
                  [line]='prdLine'
                  [bar]='prdBar'>
              </app-bar-line-graph>
            </ng-template>
          </app-map-dashboard>
        </div>

      </ng-template>
    </mat-tab>

    <mat-tab label="Spillback Rate">
        <ng-template matTabContent>
          <div class="container-fluid">
            <app-map-dashboard
              [graphMetrics]='qsdGraphMetrics'
              [mapSettings]='mapSettings.qsdMapSettings'
              [metricField]='mapSettings.qsdMapField'
              [metricLabel]='"Spillback rate"'
              [metricDecimals]='2'
              [changeLabel]='"Changes from prior month"'>
              <ng-template let-filteredData #qsdTemplate>
                  <app-bar-line-graph
                      [data]='filteredData'
                      [title]='qsdTitle'
                      [line]='qsdLine'
                      [bar]='qsdBar'>
                  </app-bar-line-graph>
              </ng-template>
            </app-map-dashboard>
          </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Peak Period Split Failures">
      <ng-template matTabContent>
        <div class="container-fluid">
          <app-map-dashboard
            [graphMetrics]='psfGraphMetrics'
            [mapSettings]='mapSettings.psfMapSettings'
            [metricField]='mapSettings.psfMapField'
            [metricLabel]='"Peak Period Split Failures"'
            [metricDecimals]='2'
            [changeLabel]='"Changes from prior month"'>
            <ng-template let-filteredData #sfTemplate>
                <app-bar-line-graph
                    [data]='filteredData'
                    [title]='sfTitle'
                    [line]='sfLine'
                    [bar]='sfBar'>
                </app-bar-line-graph>
            </ng-template>
          </app-map-dashboard>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Off-Peak Split Failures">
      <ng-template matTabContent>
        <div class="container-fluid">
          <app-map-dashboard
            [graphMetrics]='osfGraphMetrics'
            [mapSettings]='mapSettings.osfMapSettings'
            [metricField]='mapSettings.osfMapField'
            [metricLabel]='"Off-Peak Split Failures"'
            [metricDecimals]='2'
            [changeLabel]='"Changes from prior month"'>
            <ng-template let-filteredData #sfTemplate>
                <app-bar-line-graph
                    [data]='filteredData'
                    [title]='sfTitle'
                    [line]='sfLine'
                    [bar]='sfBar'>
                </app-bar-line-graph>
            </ng-template>
          </app-map-dashboard>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Travel Time Index">
      <ng-template matTabContent>
        <div class="container-fluid">
          <app-graph-dashboard
            [graphMetrics]='ttiGraphMetrics'
            [metricField]='ttiMetricField'
            [metricLabel]='"Travel Time Index"'
            [metricDecimals]='2'
            [changeLabel]='"Changes from prior month"'>
            <ng-template let-filteredData #ttiTemplate>
              <app-bar-line-graph
                  [data]='filteredData'
                  [title]='ttiTitle'
                  [line]='ttiLine'
                  [bar]='ttiBar'>
              </app-bar-line-graph>
            </ng-template>
          </app-graph-dashboard>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="Planning Time Index">
      <ng-template matTabContent>
        <div class="container-fluid">
          <app-graph-dashboard
            [graphMetrics]='ptiGraphMetrics'
            [metricField]='ptiMetricField'
            [metricLabel]='"Planning Time Index"'
            [metricDecimals]='2'
            [changeLabel]='"Changes from prior month"'>
            <ng-template let-filteredData #ptiTemplate>
              <app-bar-line-graph
                  [data]='filteredData'
                  [title]='ptiTitle'
                  [line]='ptiLine'
                  [bar]='ptiBar'>
              </app-bar-line-graph>
            </ng-template>
          </app-graph-dashboard>
        </div>
      </ng-template>
    </mat-tab>
</mat-tab-group>
