
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-sigops-main: (
  50 : #e0eefd,
  100 : #b3d4fa,
  200 : #80b8f6,
  300 : #4d9bf2,
  400 : #2685f0,
  500 : #0070ed,
  600 : #0068eb,
  700 : #005de8,
  800 : #0053e5,
  900 : #0041e0,
  A100 : #ffffff,
  A200 : #d4deff,
  A400 : #a1b6ff,
  A700 : #88a2ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$mat-sigops-accent: (
  50 : #fcfcfc,
  100 : #f6f7f7,
  200 : #f1f1f2,
  300 : #ebebec,
  400 : #e6e7e8,
  500 : #e2e3e4,
  600 : #dfe0e1,
  700 : #dadcdd,
  800 : #d6d8d9,
  900 : #cfd0d1,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SigOpsMetrics-primary: mat-palette($mat-sigops-main);
$SigOpsMetrics-accent: mat-palette($mat-sigops-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SigOpsMetrics-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SigOpsMetrics-theme: mat-light-theme((
  color: (
    primary: $SigOpsMetrics-primary,
    accent: $SigOpsMetrics-accent,
    warn: $SigOpsMetrics-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SigOpsMetrics-theme);

// .main-sidenav {
//   background-color: #095494;
// }
