/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.special-text {
  color: green;
  font-weight: bold;
  font-style: italic;
  background-color: papayawhip;
}

.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
}

.span-spacer {
  flex: 1 1 auto;
}

// .router-host {
//   margin-left: 5px;
// }

.main-sidenav {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100vh;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

// .main-router {
//   display: flex;
//   flex-direction: column;
//   flex: 1 1 auto;

// }

mat-sidenav-container {
  height: 90%;
}
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-bottom{
  margin-bottom: 1em;
}

.mat-mdc-table{
  width:100%;
}

.mat-dialog-container {
  padding: 0px !important;
}

.contact-mat-bar-success {
  background-color: #C1E1C1;
  color:black;
}

.contact-mat-bar-fail {
  background-color:red;
  color:black;
}

.mdc-data-table__cell
{
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-form-field-flex{
  height: 45px;
  align-items: center !important;
}

.mat-calendar-body-active:focus{
  outline: none;
}

.mdc-icon-button:focus{
  outline: none;
}
