.help-columns {
    padding: 0px;
}

.help-accordion mat-expansion-panel-header {
    height: 30px !important;
}

.help-accordion mat-panel-title{
    font-size:15px !important;
}

.help-accordion mat-expansion-panel {
    box-shadow: none !important;
    margin: 0px !important;
    background: white;
}

.help-accordion .col {
    border: 1px solid #d3d3d3;
    height: 100%;
    padding:0px;
    background-color: white;
}

.help-accordion {
    margin: 15px 0px 0px 5px;
    max-width: 99%;
    height: 98%;
}

.help-accordion .col:first-child{
    margin-right: 5px;
}