.mat-raised-button {
    font-size:x-small;
    max-width: 70px;
    height:40px;
    margin-left:5px;
    line-height: 15px;
    white-space: pre-wrap !important;
}

.mat-mdc-row:nth-child(even){
    background-color: #ececec;
}

.mat-mdc-row:nth-child(odd){
    background-color:#ffffff;
}

td.mat-mdc-cell {
    padding: 16px 4px 16px 4px;
    border-bottom: 1px solid #bababa !important;
    border-right: 1px solid #bababa;
    border-top: 1px solid #bababa;
    text-align: center;
}

td.mat-mdc-cell:first-child {
    border-left: 1px solid #bababa;
}

td.mat-mdc-cell:last-child {
    border-right: 1px solid #bababa;
}
th.mat-mdc-header-cell {
text-align: center !important;
color: white;
background-color: #338FF2;
border: 1px solid #bababa;
}

.mat-form-field-flex{
  align-items: center !important;
}
