<div class="col">
  <mat-accordion style="margin-left: 35px;">
    <button mat-flat-button color="primary" style="width: 150px; margin-top:10px;">Apply</button>
  </mat-accordion>
</div>
<div class="col">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Date Range</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list>
        <mat-list-option>Custom</mat-list-option>
        <mat-list-option>Current Week</mat-list-option>
        <mat-list-option>Prior Week</mat-list-option>
        <mat-list-option>Prior Quarter</mat-list-option>
        <mat-list-option>Prior Year</mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Time Range</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Region</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Select A Signal Group</mat-label>
        <mat-select [(ngModel)]="selectedSignalGroup">
          <mat-option
            *ngFor="let signalGroup of signalGroups"
            [value]="signalGroup"
            >{{ signalGroup }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>District</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Managing Agency</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>County</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>City</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Corridor</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>MVID</mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
