<div class='row'>
    <div class='col-lg-12'>
        <h4>{{ title }}</h4>
    </div>
</div>
<div class='row'>
    <div *ngIf="barGraph.data.length !== 0" class='col-lg-4'>
        <plotly-plot
            [data]='barGraph.data'
            [layout]='barGraph.layout'
            (plotlyClick)='graphClicked($event)'
            [useResizeHandler]='true'>
        </plotly-plot>
    </div>
    <div *ngIf="lineGraph.data.length !== 0" class='col-lg-8'>
        <plotly-plot
            [data]='lineGraph.data'
            [layout]='lineGraph.layout'
            (plotlyClick)='graphClicked($event)'
            [useResizeHandler]='true'>
        </plotly-plot>
    </div>
</div>
