<div class="container-fluid filter-chip-list">
  <div class="row">
    <div class="col-12">
      <mat-chip-list aria-label="Filter selection">
        <span *ngFor="let filter of filters">
          <mat-chip
            *ngIf='filter'
            (removed)="remove(filter)"
            [removable]="true" >
              <strong>{{ filter.name }}:</strong>
              <span>{{ filter.value }}</span>
              <mat-icon *ngIf="filter.key !== 'dateRange' && filter.key !== 'timePeriod'" matChipRemove>cancel</mat-icon>
          </mat-chip>
        </span>
      </mat-chip-list>
    </div>
  </div>
</div>
