<mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Region Status">
      <ng-template matTabContent>
        <div class="container-fluid">
          <div class="row region-row" >
            <div class="column regions">
              <app-circle-progress [title]="'NORTH'" [chartData]='northData'></app-circle-progress>
              <app-circle-progress [title]="'SOUTHWEST'" [chartData]='southWestData'></app-circle-progress>
              <app-circle-progress [title]="'SOUTHEAST'" [chartData]='southEastData'></app-circle-progress>
            </div>
            <div class="column regions">
              <app-circle-progress [title]="'STATEWIDE'" [chartData]='statewideData'></app-circle-progress>
              <img src="/assets/images/georgia_region_map.png" style="max-width: 90%; max-height: 90%;">
            </div>
            <div class="column regions">
              <app-circle-progress [title]="'WESTERN METRO'" [chartData]='westernMetroData'></app-circle-progress>
              <app-circle-progress [title]="'CENTRAL METRO'" [chartData]='centralMetroData'></app-circle-progress>
              <app-circle-progress [title]="'EASTERN METRO'" [chartData]='easternMetroData'></app-circle-progress>
            </div>
          </div>
          <div class="row footer">
            *Data reflects current month.
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Maintenance">
        <ng-template matTabContent>
            <div class="container-fluid">
                <!-- <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                    <mat-form-field *ngFor="let filter of filterSelectListMaintenance" class="{{filter.style}}">
                      <mat-label>{{filter.name}}</mat-label>
                      <input matInput formControlName="{{filter.columnProp}}">
                    </mat-form-field>
                    &nbsp;
                    <button mat-flat-button color="warn" class="btn-reset" (click)="resetFilters()">Reset</button>
                </form> -->
                <table mat-table [dataSource]='dataSourceMaintenance' (matSortChange)="sortData($event)" class="mat-elevation-z8" fill>
                    <ng-container matColumnDef="zone_Group">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[0].style}}" appearance="outline" style="color: white; width: 100px">
                            <input matInput formControlName="{{filterSelectListMaintenance[0].columnProp}}" (click)="$event.stopPropagation()" placeholder="Zone Group" (keydown.space)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.zone_Group}}</td>
                    </ng-container>

                    <ng-container matColumnDef="corridor">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[1].style}}" appearance="outline" style="color: white; width: 100%">
                            <input matInput formControlName="{{filterSelectListMaintenance[1].columnProp}}" (click)="$event.stopPropagation()" placeholder="Corridor" (keydown.space)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.corridor}}</td>
                    </ng-container>

                    <ng-container matColumnDef="percent Health">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[2].style}}" appearance="outline" style="color: white; width: 110px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[2].columnProp}}" (click)="$event.stopPropagation()" placeholder="Percent Health">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['percent Health'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="missingData">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[3].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[3].columnProp}}" (click)="$event.stopPropagation()" placeholder="Missing Data">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['missing Data'] ? (element['missing Data'] * 100).toFixed(2) + '%' : ""}}</td>
                    </ng-container>

                    <ng-container matColumnDef="detection Uptime Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[4].style}}" appearance="outline" style="color: white; width: 110px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[4].columnProp}}" (click)="$event.stopPropagation()" placeholder="Detection Uptime Score">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['detection Uptime Score'] ? element['detection Uptime Score'].toFixed(2) : 0 }}</td>
                    </ng-container>

                    <ng-container matColumnDef="ped Actuation Uptime Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[5].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[5].columnProp}}" (click)="$event.stopPropagation()" placeholder="Ped Actuation Uptime Score">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['ped Actuation Uptime Score'] ? element['ped Actuation Uptime Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="comm Uptime Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[6].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[6].columnProp}}" (click)="$event.stopPropagation()" placeholder="Comm Uptime Score">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['comm Uptime Score'] ? element['comm Uptime Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cctv Uptime Score">
                        <th mat-header-cell *matHeaderCellDef>
                          <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                            <mat-form-field class="{{filterSelectListMaintenance[7].style}}" appearance="outline" style="color: white; width: 100px;">
                              <input matInput formControlName="{{filterSelectListMaintenance[7].columnProp}}" (click)="$event.stopPropagation()" placeholder="CCTV Uptime Score">
                            </mat-form-field>
                          </form>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element['cctv Uptime Score'] ? element['cctv Uptime Score'].toFixed(2) : 0}}</td>
                      </ng-container>

                    <ng-container matColumnDef="flash Events Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[8].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[8].columnProp}}" (click)="$event.stopPropagation()" placeholder="Flash Events Score">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['flash Events Score'] ? element['flash Events Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="detection Uptime">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[9].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[9].columnProp}}" (click)="$event.stopPropagation()" placeholder="Detection Uptime">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['detection Uptime'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ped Actuation Uptime">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[10].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[10].columnProp}}" (click)="$event.stopPropagation()" placeholder="Ped Actuation Uptime">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['ped Actuation Uptime'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="comm Uptime">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[11].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[11].columnProp}}" (click)="$event.stopPropagation()" placeholder="Comm Uptime">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['comm Uptime'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="cctv Uptime">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                          <mat-form-field class="{{filterSelectListMaintenance[12].style}}" appearance="outline" style="color: white; width: 100px;">
                            <input matInput formControlName="{{filterSelectListMaintenance[12].columnProp}}" (click)="$event.stopPropagation()" placeholder="CCTV Uptime">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['cctv Uptime'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="flash Events">
                        <th mat-header-cell *matHeaderCellDef>
                          <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlMaintenance">
                            <mat-form-field class="{{filterSelectListMaintenance[13].style}}" appearance="outline" style="color: white; width: 100px;">
                              <input matInput formControlName="{{filterSelectListMaintenance[13].columnProp}}" (click)="$event.stopPropagation()" placeholder="Flash Events">
                            </mat-form-field>
                          </form>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element['flash Events']}}</td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMaintenance"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMaintenance;"></tr>
                </table>
                <mat-paginator #maintenancePaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Maintenance Trend">
        <ng-template matTabContent>
            <div class="container-fluid">
                <app-graph-no-card-dashboard
                    [graphMetrics]='mtGraphMetrics'
                    [mapSettings]='mapSettings.mtMapSettings'
                    [metricField]='mapSettings.mtMapField'
                    [metricLabel]='"Pedestrian Activations [pa/day]"'
                    [changeLabel]='"Changes from prior month"'>
                    <ng-template let-data #mtTemplate>
                        <app-bar-line-graph
                          [data]='data.filteredData'
                          [averageData]='data.averageData'
                          [title]='mtTitle'
                          [line]='mtLine'
                          [bar]='mtBar'>
                        </app-bar-line-graph>
                    </ng-template>
                </app-graph-no-card-dashboard>
            </div>
        </ng-template>
    </mat-tab>

    <mat-tab label="Operations">
        <ng-template matTabContent>
            <div class="container-fluid">
                <!-- <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                    <mat-form-field *ngFor="let filter of filterSelectListOperations" class="{{filter.style}}">
                      <mat-label>{{filter.name}}</mat-label>
                      <input matInput formControlName="{{filter.columnProp}}">
                    </mat-form-field>
                    &nbsp;
                    <button mat-flat-button color="warn" class="btn-reset" (click)="resetFilters()">Reset</button>
                </form> -->
                <table mat-table [dataSource]='dataSourceOperations' (matSortChange)="sortData($event)" class="mat-elevation-z8" fill>

                    <ng-container matColumnDef="zone_Group">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[0].style}}" appearance="outline" style="color: white; width: 150px;">
                            <input matInput formControlName="{{filterSelectListOperations[0].columnProp}}" placeholder="Zone Group" (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.zone_Group}}</td>
                    </ng-container>

                    <ng-container matColumnDef="corridor">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[1].style}}" appearance="outline" style="color: white; width: 100%;">
                            <input matInput formControlName="{{filterSelectListOperations[1].columnProp}}" placeholder="Corridor" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.corridor}}</td>
                    </ng-container>

                    <ng-container matColumnDef="percent Health">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[2].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[2].columnProp}}" placeholder="Percent Health" (keydown.space)="$event.stopPropagation()" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['percent Health'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="missingData">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[3].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[3].columnProp}}" placeholder="Missing Data" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['missing Data'] ? (element['missing Data'] * 100).toFixed(2) + '%' : ""}}</td>
                    </ng-container>

                    <ng-container matColumnDef="platoon Ratio Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[4].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[4].columnProp}}" placeholder="Platoon Ratio Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['platoon Ratio Score'] ? element['platoon Ratio Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ped Delay Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[5].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[5].columnProp}}" placeholder="Ped Delay Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['ped Delay Score'] ? element['ped Delay Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="split Failures Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[6].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[6].columnProp}}" placeholder="Split Failures Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['split Failures Score'] ? element['split Failures Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="travel Time Index Score">
                        <th mat-header-cell *matHeaderCellDef>
                          <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                            <mat-form-field class="{{filterSelectListOperations[7].style}}" appearance="outline" style="color: white; width: 80px;">
                              <input matInput formControlName="{{filterSelectListOperations[7].columnProp}}" placeholder="Travel Time Index Score" (click)="$event.stopPropagation()">
                            </mat-form-field>
                          </form>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element['travel Time Index Score'] ? element['travel Time Index Score'].toFixed(2) : 0}}</td>
                      </ng-container>

                    <ng-container matColumnDef="buffer Index Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[8].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[8].columnProp}}" placeholder="Buffer Index Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['buffer Index Score'] ? element['buffer Index Score'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="platoon Ratio">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[9].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[9].columnProp}}" placeholder="Platoon Ratio" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['platoon Ratio'] ? element['platoon Ratio'].toFixed(2) : 0}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ped Delay">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[10].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[10].columnProp}}" placeholder="Ped Delay" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['ped Delay'] ? element['ped Delay'].toFixed(2) : 0}}</td>

                    </ng-container>

                    <ng-container matColumnDef="split Failures">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[11].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[11].columnProp}}" placeholder="Split Failures" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['split Failures'] ? (element['split Failures'] * 100).toFixed(2) + '%' : ""}}</td>

                    </ng-container>

                    <ng-container matColumnDef="travel Time Index">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                          <mat-form-field class="{{filterSelectListOperations[12].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListOperations[12].columnProp}}" placeholder="Travel Time Index" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['travel Time Index'] ? element['travel Time Index'].toFixed(2) : 0}}</td>

                    </ng-container>

                    <ng-container matColumnDef="buffer Index">
                        <th mat-header-cell *matHeaderCellDef>
                          <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlOperations">
                            <mat-form-field class="{{filterSelectListOperations[13].style}}" appearance="outline" style="color: white; width: 80px;">
                              <input matInput formControlName="{{filterSelectListOperations[13].columnProp}}" placeholder="Buffer Index" (click)="$event.stopPropagation()">
                            </mat-form-field>
                          </form>
                        </th>
                      <td mat-cell *matCellDef="let element"> {{element['buffer Index'] ? element['buffer Index'].toFixed(2) : 0}}</td>

                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsOperations"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsOperations;"></tr>
                </table>
                <mat-paginator #operationsPaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Operation Trend">
        <ng-template matTabContent>
            <div class="container-fluid">
                <app-graph-no-card-dashboard
                    [graphMetrics]='otGraphMetrics'
                    [mapSettings]='mapSettings.otMapSettings'
                    [metricField]='mapSettings.otMapField'
                    [metricLabel]='"Pedestrian Pushbutton Availability"'
                    [changeLabel]='"Changes from prior month"'>
                    <ng-template let-data #otTemplate>
                        <app-bar-line-graph
                          [data]='data.filteredData'
                          [averageData]='data.averageData'
                          [title]='otTitle'
                          [line]='otLine'
                          [bar]='otBar'>
                        </app-bar-line-graph>
                    </ng-template>
                </app-graph-no-card-dashboard>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Safety">
        <ng-template matTabContent>
            <div class="container-fluid">
                <!-- <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                    <mat-form-field *ngFor="let filter of filterSelectListSafety" class="{{filter.style}}">
                      <mat-label>{{filter.name}}</mat-label>
                      <input matInput formControlName="{{filter.columnProp}}">
                    </mat-form-field>
                    &nbsp;
                    <button mat-flat-button color="warn" class="btn-reset" (click)="resetFilters()">Reset</button>
                </form> -->
                <table mat-table [dataSource]='dataSourceSafety' (matSortChange)="sortData($event)" class="mat-elevation-z8" fill>

                    <ng-container matColumnDef="zone_Group">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[0].style}}" appearance="outline" style="color: white; width: 150px;">
                            <input matInput formControlName="{{filterSelectListSafety[0].columnProp}}" placeholder="Zone Group" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.zone_Group}}</td>
                    </ng-container>

                    <ng-container matColumnDef="corridor">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[1].style}}" appearance="outline" style="color: white; width: 100%;">
                            <input matInput formControlName="{{filterSelectListSafety[1].columnProp}}" placeholder="Corridor" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.corridor}}</td>
                    </ng-container>

                    <ng-container matColumnDef="percent Health">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[2].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[2].columnProp}}" placeholder="Percent Health" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{(element['percent Health'] * 100).toFixed(2) + '%'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="missingData">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[3].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[3].columnProp}}" placeholder="Missing Data" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['missing Data'] ? (element['missing Data'] * 100).toFixed(2) + '%' : ""}}</td>
                    </ng-container>

                    <ng-container matColumnDef="crash Rate Index Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[4].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[4].columnProp}}" placeholder="Crash Rate Index Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['crash Rate Index Score'] ? element['crash Rate Index Score'].toFixed(2) : 0 }}</td>

                    </ng-container>

                    <ng-container matColumnDef="kabco Crash Severity Index Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[5].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[5].columnProp}}" placeholder="KABCO Crash Severity Index Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['kabco Crash Severity Index Score'] ? element['kabco Crash Severity Index Score'].toFixed(2) : 0 }}</td>

                    </ng-container>

                    <ng-container matColumnDef="high Speed Index Score">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[6].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[6].columnProp}}" placeholder="High Speed Index Score" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['high Speed Index Score'] ? element['high Speed Index Score'].toFixed(2) : 0 }}</td>

                    </ng-container>

                    <ng-container matColumnDef="ped Injury Exposure Index Score">
                        <th mat-header-cell *matHeaderCellDef>
                          <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                            <mat-form-field class="{{filterSelectListSafety[7].style}}" appearance="outline" style="color: white; width: 80px;">
                              <input matInput formControlName="{{filterSelectListSafety[7].columnProp}}" placeholder="Ped Injury Exposure Index Score" (click)="$event.stopPropagation()">
                            </mat-form-field>
                          </form>
                        </th>
                      <td mat-cell *matCellDef="let element"> {{element['ped Injury Exposure Index Score'] ? element['ped Injury Exposure Index Score'].toFixed(2) : 0 }}</td>

                      </ng-container>

                    <ng-container matColumnDef="crash Rate Index">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[8].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[8].columnProp}}" placeholder="Crash Rate Index" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['crash Rate Index'] | number: '1.0-2'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="kabco Crash Severity Index">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[9].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[9].columnProp}}" placeholder="KABCO Crash Severity Index" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['kabco Crash Severity Index'] | number: '1.0-2'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="high Speed Index">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[10].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[10].columnProp}}" placeholder="High Speed Index" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['high Speed Index'] | number: '1.0-2'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="ped Injury Exposure Index">
                      <th mat-header-cell *matHeaderCellDef>
                        <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControlSafety">
                          <mat-form-field class="{{filterSelectListSafety[11].style}}" appearance="outline" style="color: white; width: 80px;">
                            <input matInput formControlName="{{filterSelectListSafety[11].columnProp}}" placeholder="Ped Injury Exposure Index" (click)="$event.stopPropagation()">
                          </mat-form-field>
                        </form>
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element['ped Injury Exposure Index'] | number: '1.0-2'}}</td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumnsSafety"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsSafety;"></tr>
                </table>
                <mat-paginator #safetyPaginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Safety Trend">
        <ng-template matTabContent>
            <div class="container-fluid">
                <app-graph-no-card-dashboard
                    [graphMetrics]='stGraphMetrics'
                    [metricLabel]='"Communications Uptime"'
                    [changeLabel]='"Changes from prior month"'>
                    <ng-template let-data #stTemplate>
                        <app-bar-line-graph
                          [data]='data.filteredData'
                          [averageData]='data.averageData'
                          [title]='stTitle'
                          [line]='stLine'
                          [bar]='stBar'>
                        </app-bar-line-graph>
                    </ng-template>
                </app-graph-no-card-dashboard>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>


