<ng-container layout="vertical">
    <app-header [inputSideNav]="sidenav"></app-header>
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened class="main-sidenav">
        <mat-nav-list>
          <mat-accordion>
            <a mat-list-item>
              <mat-icon mat-list-icon>insert_chart</mat-icon>
              <a class="nav-link text-dark" [routerLink]="['/']">Dashboard</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>toys</mat-icon>
              <a class="nav-link text-dark" [routerLink]="['/']">Operations</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>bar_chart</mat-icon>
              <a class="nav-link text-dark" [routerLink]="['/']">Maintenance</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>alarm</mat-icon>
              <a class="nav-link text-dark" [routerLink]="['/']">Watchdog</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>build</mat-icon>
                <a class="nav-link text-dark" [routerLink]="['/']">TEAMS Tasks</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>receipt</mat-icon>
                <a class="nav-link text-dark" [routerLink]="['/']">Reports</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>healing</mat-icon>
                <a class="nav-link text-dark" [routerLink]="['/']">Health Metrics</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>traffic</mat-icon>
                <a class="nav-link text-dark" [routerLink]="['/']">Ramp Meters</a>
            </a>
            <a mat-list-item>
              <mat-icon mat-list-icon>help</mat-icon>
              <a class="nav-link text-dark" [routerLink]="['/signal-info']">Signal Info</a>
            </a>
          </mat-accordion>
        </mat-nav-list>
        <img src="/assets/images/PoweredByGDOT.png" width="150px" style="position: fixed; bottom: 15px; margin-left: 15px;"  />
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
