<!-- <mat-form-field appearance="none">
  <mat-label>Type here to search</mat-label>
  <input matInput placeholder="Search..." (keyup)="doFilter($event.target.value)"/>
  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search...">
</mat-form-field> -->

<!-- <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
  <mat-form-field *ngFor="let filter of filterSelectList" class="{{filter.style}}">
    <mat-label>{{filter.name}}</mat-label>
    <input matInput formControlName="{{filter.columnProp}}">
  </mat-form-field>
  &nbsp;
  <button mat-flat-button color="warn" class="btn-reset" (click)="resetFilters()">Reset</button>
</form> -->

<table mat-table [dataSource]='dataSource' (matSortChange)="sortData($event)" class="mat-elevation-z8" fill>
  <ng-container matColumnDef="signalID">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[0].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Signal ID</mat-label>
          <input matInput formControlName="{{filterSelectList[0].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.signalID}}</td>
  </ng-container>

  <ng-container matColumnDef="zoneGroup">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[1].style}}" appearance="outline" style="color: white; width: 100px;">
          <mat-label>Zone Group</mat-label>
          <input matInput formControlName="{{filterSelectList[1].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.zoneGroup}}</td>
  </ng-container>

  <ng-container matColumnDef="zone">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[2].style}}" appearance="outline" style="color: white; width: 100px;">
          <mat-label>Zone</mat-label>
          <input matInput formControlName="{{filterSelectList[2].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.zone}}</td>
  </ng-container>

  <ng-container matColumnDef="corridor">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[3].style}}" appearance="outline" style="color: white; width: 150px;">
          <mat-label>Corridor</mat-label>
          <input matInput formControlName="{{filterSelectList[3].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.corridor}}</td>
  </ng-container>

  <ng-container matColumnDef="subcorridor">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[4].style}}" appearance="outline" style="color: white; width: 150px;">
          <mat-label>Subcorridor</mat-label>
          <input matInput formControlName="{{filterSelectList[4].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.subcorridor}}</td>
  </ng-container>

  <ng-container matColumnDef="agency">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[5].style}}" appearance="outline" style="color: white; width: 150px;">
          <mat-label>Agency</mat-label>
          <input matInput formControlName="{{filterSelectList[5].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.agency}}</td>
  </ng-container>

  <ng-container matColumnDef="mainStreetName">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[6].style}}" appearance="outline" style="color: white; width: 100%;">
          <mat-label>Main Street Name</mat-label>
          <input matInput formControlName="{{filterSelectList[6].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.mainStreetName}}</td>
  </ng-container>

  <ng-container matColumnDef="sideStreetName">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[7].style}}" appearance="outline" style="color: white; width: 150px;">
          <mat-label>Side Street Name</mat-label>
          <input matInput formControlName="{{filterSelectList[7].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.sideStreetName}}</td>
  </ng-container>

  <ng-container matColumnDef="milepost">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[8].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Milepost</mat-label>
          <input matInput formControlName="{{filterSelectList[8].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.milepost}}</td>
  </ng-container>

  <ng-container matColumnDef="asOf">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[9].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>As Of</mat-label>
          <input matInput formControlName="{{filterSelectList[9].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.asOf | date:'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="duplicate">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[10].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Duplicate</mat-label>
          <input matInput formControlName="{{filterSelectList[10].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.duplicate}}</td>
  </ng-container>

  <ng-container matColumnDef="include">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[11].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Include</mat-label>
          <input matInput formControlName="{{filterSelectList[11].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.include}}</td>
  </ng-container>

  <ng-container matColumnDef="modified">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[12].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Modified</mat-label>
          <input matInput formControlName="{{filterSelectList[12].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.modified | date:'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[13].style}}" appearance="outline" style="color: white; width: 150px;">
          <mat-label>Note</mat-label>
          <input matInput formControlName="{{filterSelectList[13].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.note}}</td>
  </ng-container>

  <ng-container matColumnDef="latitude">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[14].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Latitude</mat-label>
          <input matInput formControlName="{{filterSelectList[14].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.latitude}}</td>
  </ng-container>

  <ng-container matColumnDef="longitude">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[15].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Longitude</mat-label>
          <input matInput formControlName="{{filterSelectList[15].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.longitude}}</td>
  </ng-container>

  <ng-container matColumnDef="county">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[16].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>County</mat-label>
          <input matInput formControlName="{{filterSelectList[16].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.county}}</td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[17].style}}" appearance="outline" style="color: white; width: 110px;">
          <mat-label>City</mat-label>
          <input matInput formControlName="{{filterSelectList[17].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.city}}</td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[18].style}}" appearance="outline" style="color: white; width: 80px;">
          <mat-label>Priority</mat-label>
          <input matInput formControlName="{{filterSelectList[18].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.priority}}</td>
  </ng-container>

  <ng-container matColumnDef="classification">
    <th mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[19].style}}" appearance="outline" style="color: white; width: 110px;">
          <mat-label>Classification</mat-label>
          <input matInput formControlName="{{filterSelectList[19].columnProp}}">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.classification}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
<excel-export [data]=this.dataSource.data></excel-export>
