table {
  width: 100%;
  border-spacing: 0 8px !important;
}

td.mat-cell {
 padding: 16px 4px 16px 4px;
 border-bottom: 1px solid black;
 border-right: 1px solid black;
 border-top: 1px solid black;
}

td.mat-cell:first-child {
  border-left: 1px solid black;
}

td.mat-cell:last-child {
  border-right: 1px solid black;
}

th.mat-header-cell {
  text-align: center !important;
}

mat-form-field.mat-form-field {
  font-size: 13px;
}

.search-input {
  text-align: center;
}
.search-input-sid {
  width: 57px;
}
.search-input-zg {
  width: 56px;
}
.search-input-z {
  width: 45px;
}
.search-input-cor {
  width: 150px;
}
.search-input-scor {
  width: 100px;
}
.search-input-a {
  width: 75px;
}
.search-input-ms {
  width: 110px;
}
.search-input-ss {
  width: 90px;
}
.search-input-mp {
  width: 40px;
}
.search-input-ao {
  width: 80px;
}
.search-input-dup {
  width: 40px;
}
.search-input-inc {
  width: 40px;
}
.search-input-mod {
  width: 70px;
}
.search-input-n {
  width: 40px;
}
.search-input-lat {
  width: 65px;
}
.search-input-lng {
  width: 80px;
}
