<!-- <mat-form-field appearance="none">
  <mat-label>Type here to search</mat-label>
  <input matInput placeholder="Search..." (keyup)="doFilter($event.target.value)"/>
  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search...">
</mat-form-field> -->

<!-- <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
  <mat-form-field *ngFor="let filter of filterSelectList" class="{{filter.style}}">
    <mat-label>{{filter.name}}</mat-label>
    <input matInput formControlName="{{filter.columnProp}}">
  </mat-form-field>
  &nbsp;
  <button mat-flat-button color="warn" class="btn-reset" (click)="resetFilters()">Reset</button>
</form> -->

<table matSort mat-table [dataSource]='dataSource' (matSortChange)="sortData($event)" class="mat-elevation-z8" fill>
  <ng-container matColumnDef="signalID">
    <th mat-sort-header="signalID" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[0].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[0].columnProp}}" placeholder="Signal ID">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.signalID}}</td>
  </ng-container>

  <ng-container matColumnDef="zoneGroup">
    <th mat-sort-header="zoneGroup" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[1].style}}" appearance="outline" style="color: white; width: 100px;">
          <input matInput formControlName="{{filterSelectList[1].columnProp}}" placeholder="Zone Group">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.zoneGroup}}</td>
  </ng-container>

  <ng-container matColumnDef="zone">
    <th mat-sort-header="zone" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[1].style}}" appearance="outline" style="color: white; width: 100px;">
          <input matInput formControlName="{{filterSelectList[1].columnProp}}" placeholder="Zone">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.zone}}</td>
  </ng-container>

  <ng-container matColumnDef="corridor">
    <th mat-sort-header="corridor" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[2].style}}" appearance="outline" style="color: white; width: 150px;">
          <input matInput formControlName="{{filterSelectList[2].columnProp}}" placeholder="Corridor">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.corridor}}</td>
  </ng-container>

  <ng-container matColumnDef="subcorridor">
    <th mat-sort-header="subcorridor" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[3].style}}" appearance="outline" style="color: white; width: 150px;">
          <input matInput formControlName="{{filterSelectList[3].columnProp}}" placeholder="Subcorridor">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.subcorridor}}</td>
  </ng-container>

  <ng-container matColumnDef="agency">
    <th mat-sort-header="agency" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[4].style}}" appearance="outline" style="color: white; width: 150px;">
          <input matInput formControlName="{{filterSelectList[4].columnProp}}" placeholder="Agency">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.agency}}</td>
  </ng-container>

  <ng-container matColumnDef="mainStreetName">
    <th mat-sort-header="mainStreetName" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[5].style}}" appearance="outline" style="color: white; width: 100%;">
          <input matInput formControlName="{{filterSelectList[5].columnProp}}" placeholder="Main Street Name">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.mainStreetName}}</td>
  </ng-container>

  <ng-container matColumnDef="sideStreetName">
    <th mat-sort-header="sideStreetName" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[6].style}}" appearance="outline" style="color: white; width: 150px;">
          <input matInput formControlName="{{filterSelectList[6].columnProp}}" placeholder="Side Street Name">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.sideStreetName}}</td>
  </ng-container>

  <ng-container matColumnDef="milepost">
    <th mat-sort-header="milepost" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[7].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[7].columnProp}}" placeholder="Milepost">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.milepost}}</td>
  </ng-container>

  <ng-container matColumnDef="asOf">
    <th mat-sort-header="asOf" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[8].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[8].columnProp}}" placeholder="As Of">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.asOf}}</td>
  </ng-container>

  <ng-container matColumnDef="duplicate">
    <th mat-sort-header="duplicate" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[9].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[9].columnProp}}" placeholder="Duplicate">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.duplicate}}</td>
  </ng-container>

  <ng-container matColumnDef="include">
    <th mat-sort-header="include" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[10].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[10].columnProp}}" placeholder="Include">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.include}}</td>
  </ng-container>

  <ng-container matColumnDef="modified">
    <th mat-sort-header="modified" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[11].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[11].columnProp}}" placeholder="Modified">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.modified}}</td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-sort-header="note" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[12].style}}" appearance="outline" style="color: white; width: 150px;">
          <input matInput formControlName="{{filterSelectList[12].columnProp}}" placeholder="Note">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.note}}</td>
  </ng-container>

  <ng-container matColumnDef="latitude">
    <th mat-sort-header="latitude" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[13].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[13].columnProp}}" placeholder="Latitude">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.latitude}}</td>
  </ng-container>

  <ng-container matColumnDef="longitude">
    <th mat-sort-header="longitude" mat-header-cell *matHeaderCellDef>
      <form style="display: flex;margin-bottom: 5px;" [formGroup]="formControl">
        <mat-form-field class="{{filterSelectList[14].style}}" appearance="outline" style="color: white; width: 80px;">
          <input matInput formControlName="{{filterSelectList[14].columnProp}}" placeholder="Longitude">
        </mat-form-field>
      </form>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.longitude}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
