table {
  width: 100%;
  border-spacing: 0 8px !important;
}

td.mat-cell {
 padding: 16px 4px 16px 4px;
 border-bottom: 1px solid #BABABA;
 border-right: 1px solid #BABABA;
 border-top: 1px solid #BABABA;
}

td.mat-cell:first-child {
  border-left: 1px solid #BABABA;
}

td.mat-cell:last-child {
  border-right: 1px solid #BABABA;
}

th.mat-header-cell {
  text-align: center !important;
  background-color: #338FF2;
  color: white;
  border: 1px solid #BABABA;
}

.mat-sort-header-container {
  justify-content: center;
}

th.mat-header-cell:first-of-type {
  padding-left: 12px !important;
}

td.mat-cell:first-of-type {
  padding: 0px !important;
} 

mat-form-field.mat-form-field {
  font-size: 13px;
}

.search-input {
  text-align: center;
}
.search-input-sid {
  width: 4.2%;
}
.search-input-zg {
  width: 3.8%;
}
.search-input-z {
  width: 3.5%;
}
.search-input-cor {
  width: 14%;
}
.search-input-scor {
  width: 10%;
}
.search-input-a {
  width: 5.5%;
}
.search-input-ms {
  width: 10.6%;
}
.search-input-ss {
  width: 10.2%;
}
.search-input-mp {
  width: 2.5%;
}
.search-input-ao {
  width: 6.4%;
}
.search-input-dup {
  width: 2.4%;
}
.search-input-inc {
  width: 2.4%;
}
.search-input-mod {
  width: 6.4%;
}
.search-input-n {
  width: 2.5%;
}
.search-input-lat {
  width: 4.4%;
}
.search-input-lng {
  width: 5.4%;
}
.btn-reset {
  padding: 0 4px;
  min-width: 4%;
  margin-right: 1.8%;
  margin-bottom: 16px;
}

.mat-row:nth-child(even){
  background-color:#FFFFFF;
}
      
.mat-row:nth-child(odd){
  background-color :#ECECEC;
}

::placeholder {
  color: white !important;
}

.mat-raised-button {
  font-size:x-small;
  max-width: 70px;
  height:40px;
  margin-left:5px;
  line-height: 15px;
  white-space: pre-wrap !important;
}

mat-label {
  color:white;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border-top-color: initial !important;
}