.mat-toolbar {
  background: #0070ed url("/assets/images/headerbanner.png") center no-repeat !important;
}

.menu-div {
  background: #fafafa !important;
}

.mat-menu-content {
  padding-top:0px !important;
}

.contact-div {
  min-width: 500px;
}