.mat-toolbar {
  background: url("/assets/images/headerbanner.png") no-repeat center;
  background-size: cover;
  color: #fff;
}

.menu-div {
  background: #fafafa !important;
}

.mat-menu-content {
  padding-top:0px !important;
}