<mat-toolbar class="header" color="primary">
  <button mat-icon-button (click)="toggleSideNav()" style="margin-right: 20px;">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="row">
    <img src="/assets/images/SigOps.png"/>
    <img src="/assets/images/Metrics.png" height="51px" />
  </div>

  <span class="span-spacer"></span>
  <button mat-icon-button>
    <mat-icon>chat</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>drag_indicator</mat-icon>
  </button>
</mat-toolbar>
