<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav" [style.max-width.px]="this.isExpanded ? '200' : '65'">
      <mat-nav-list>
        <mat-accordion>
            <a *ngFor="let item of menuItems" mat-list-item [routerLink]="item.path" [routerLinkActive]="['selected-item']" [routerLinkActiveOptions]="{exact: true}" >
              <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
              <a *ngIf="this.isExpanded" class="nav-link text-dark" >{{ item.text }}</a>
            </a>
        </mat-accordion>
      </mat-nav-list>
      <img *ngIf="this.isExpanded" src="/assets/images/PoweredByGDOT.png" width="150px" style="position: fixed; bottom: 15px; margin-left: 15px;"  />
      <img *ngIf="!this.isExpanded" src="/assets/images/PoweredByGDOT-mini.png" width="30px" style="position: fixed; bottom: 10px; margin-left: 15px;"  />
    </mat-sidenav>
    <mat-sidenav position="end" mode="side" opened>
      <app-filter-sidenav></app-filter-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
