<div class="container-fluid d-flex flex-column h-100 pb-2 pt-0 pl-0">
  <div class="row mb-2 no-gutters">
    <app-filter-chip-list class="pb-1"></app-filter-chip-list>
  </div>
  <div class="row flex-grow-1 pl-3">
    <div class="col-lg-6">
      <div class="row margin-bottom">
        <div class="col">
          <app-dashboard-table
            [tableTitle]="'Performance'"
            [tableData]="performanceTableData">
          </app-dashboard-table>
        </div>

        <div class="col">
          <app-dashboard-table
            [tableTitle]="'Volume & Equipment'"
            [tableData]="volumeTableData">
          </app-dashboard-table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-tickets-table></app-tickets-table>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <mat-card class="map-card h-100">
        <app-scatter-map
          [mapSettings]="selectedSettings">
        </app-scatter-map>

        <app-metric-select class="metric-select"></app-metric-select>
      </mat-card>
    </div>
  </div>
</div>
