<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <app-performance-table></app-performance-table>
    </div>

    <div class="col-lg-8">
      <mat-card class="map-card">
        <app-scatter-map
          [metrics]="mapMetrics"
          [metricField]="mapField"
          [mapRanges]="mapRanges"
          [legendLabels]="legendLabels"
          [legendColors]="legendColors">
        </app-scatter-map>

        <app-metric-select class="metric-select"></app-metric-select>
      </mat-card>
    </div>
  </div>
</div>
